@import "images.css";
@import "info.css";
@import "description.css";
@import "comments.css";

.invisible {
    visibility: hidden;
}

.barWrapper {
    padding: 10px;
    width: 300px;
}

.viewier {
    overflow-y: scroll;
}

.desc-comments {
    background: #141416;
    min-height: 10000%;
}



